[Unit]
Description=Markdown to HTML parser daemon

[Service]
ExecStart=/usr/bin/md2htm daemon
User=your_webserver_user_here

[Install]
WantedBy=multi-user.target
